body {
    background-color: steelblue;
    background-size: 100%;
    font-family: 'Ultra', sans-serif;
    color:white;
    
}
.cover-background-section {
    background-color: darkslateblue;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}

.cover-background-section header {
    color:white;
}
section {
    color:white;
    font-size: 23px;
    margin-left: 20px;
    text-align: justify;
}
.firstDiv {
    color:white;
    margin-left: 20px;
    font-size: 24px;
    text-align: justify;
}